<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% extends "bootstrap/base.html" %}
{% block title %}BOOKS{% endblock %}
{% block content %}
    <div class="container">
        <form action="/hola" method="GET" method="POST">
            <div class="col-md-8 col-md-offset-2">
                <div >
                    <h1><p class="text-primary">List Books (Json)</p></h1>
                </div>

                <div class="spinner-border text-primary" role="status">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">ISBN</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                    </table>
                    <h4>{{ mn }}</h4>
                    <input class="btn btn-primary" type="submit" id="send-signup" name="respuesta1" value="GetBooks" />
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </form>
        
    </div>

     
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}


</body>
</html>



