<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% extends "bootstrap/base.html" %}
{% block title %}BOOKS{% endblock %}
{% block content %}
    <div class="container">
        <form action="/save" method="GET">
            <div class="col-md-8 col-md-offset-2">
                <div >
                    <h1><p class="text-primary">List Books (Json)</p></h1>
                </div>

                <div class="spinner-border text-primary" role="status">
                    <table class="table table-hover" id="tablebd">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">ISBN</th>
                          </tr>
                        </thead>
                        <tbody>
                    {% if m == 'GET' %}
                        {% for i in range(0, 5): %}
                          <tr>
                            <td>{{ r[i]['title'] }}</td>
                            <td>{{ r[i]['isbn'] }}</td>
                          </tr>
                        </tbody>

                      {% endfor %}
                    {% endif %}
                    </table>
                    {{res}}
                    <input class="btn btn-primary" type="submit" id="send-signup" name="respuesta1" value="Save in BD" />
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </form>
        
    </div>

     
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}


</body>
</html>
