{% extends "__base.html" %}

{% block container %}
<table class="table">
    <tr>
        <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">ISBN</th>
                <th scope="col">ISBN</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td><a href="{% url 'book-detail' book.id %}">{{book.id}}</a></td>
                <td>{{book.name}}</td>
                <td>{{book.isbn_number}}</td>
                <td>
                    <a href="{% url 'book-update' book.id %}" class="btn btn-info">Update</a>
                </td>
                <td><a href="{% url 'book-delete' book.id %}" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="5">
                    <a href="book/create" class="badge badge-success" >Add Book</a>
                </td>
            </tr>
        </tbody>
</table>
{% if is_paginated %}
    {% include "_pagination.html" %}
{% endif %}

{% endblock %}
